body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.profile-card {
    width: 350px;
    height: 500px;
    background-color: hsl(0, 0%, 20%);
}